/* Apply box-sizing globally to avoid overflow issues */
*,
*::before,
*::after {
    box-sizing: border-box;
}
/* Body */
body {
    /* background-color: rgb(0, 0, 33); */
    font-family: 'Poppins', sans-serif;
    width: 100%;
    overflow-x: hidden;
}

/* Certificates */
.row {
    display: flex;
    flex-direction: row;
}
.certificates__category {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    border: 1px solid aquamarine;
    height: inherit;
    width: 25%;
}

.certificates__links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    border: 1px solid var(--about-border-color_2);
    height: inherit;
    width: 65%;
}



/* Achievements */
 /* Fix the position of the sidebar with the list items */
 .list-group {
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap; /*Prevent wrapping*/
    width: 100%;
    overflow: auto; /* Allow scrolling if items overflow */
    border: 1px solid var(--about-border-color_2); /* Add some separation for clarity */
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
}

.list-group-item {
    margin-right: 5px;
    color: var(--text-color);
    text-decoration: none;
    background: linear-gradient(to right, var(--about-border-color_1), var(--about-border-color_2));
    background-size: 0% 2px;
    background-position: 50% 100%;
    background-repeat: no-repeat;
}

.list-group-item:hover {
    background-size: 100% 2px;
    transition: background-size 0.5s ease; /* Smooth transition for hover effect */
}

/* Ensure the scrollable content has a height that allows scrolling */
.scrollspy-example-1 {
    height: 30vh;
    overflow-y: scroll;
    border: 1px solid aquamarine; /* Example border color: Bootstrap primary color */
    border-radius: 5px; /* Optional: Adds rounded corners */
    padding: 10px; /*Optional: Adds padding inside the border*/
}


/* Ensure the scrollable content has a height that allows scrolling */
.scrollspy-example-2 {
    margin: 5px;
    height: 60vh;
    overflow-y: scroll;
    scrollbar-width: none;
    border: 1px solid var(--about-border-color_1); /* Example border color: Bootstrap primary color */
    border-radius: 5px; /* Optional: Adds rounded corners */
    /* padding: 10px; Optional: Adds padding inside the border */
}

main {
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    width: 100%;
}

.skills {
    padding-top: 25px;
}

/* /Hovering action */
/* Hide the tooltip content by default */
.tooltip-content {
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease;
    padding: 8px;
    border-radius: 4px;
    top: 40px; /* Adjust based on button position */
    left: 0;
    z-index: 10;
}

/* Position the button relatively so that the tooltip appears near it */
.btn-with-tooltip {
    position: relative;
}

/* Show the tooltip when hovering over the button */
.btn-with-tooltip:hover + .tooltip-content {
    visibility: visible;
    opacity: 1;
}
.achievements {
    padding-bottom: 10px;
}



/* Badges */
h1 {
    font-family: 'Arial', sans-serif; /* Modern font */
    font-size: 2.5rem; /* Larger text */
    font-weight: bold; /* Bold text */
    color: #4a90e2; /* Blue color */
    text-align: left; /* Center alignment */
    margin-top: 20px; /* Spacing above */
  }

  hr {
    border: 0; /* Remove default border */
    height: 4px; /* Thickness */
    background: var(--about-border-color); /* Gradient color */
    width: 60%; /* Reduce width */
    /* margin: 10px auto; Center horizontally */
  }
  .Achievement__hr{
    width: 100%;
  }
.hexagon {
    height: 100px;
    filter: drop-shadow(5px 5px 5px #222222);
    margin-bottom: 5px;
}
.badge__img {
    height: 100px;
    filter: drop-shadow(5px 5px 5px #222222);
    width: fit-content;
    align-self: center;
    margin-bottom: 5px;
  }
.badge-container {
    width: 100%;
    overflow: hidden; /* Hide overflow for a clean look */
    position: relative;
    /* background-color: #f9f9f9; */
    padding: 10px 0;
  }
  
  .badge-container .badge-row {
    display: flex;
    align-items: center;
    overflow-x: auto;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;
    /* animation: scroll-left 20s linear infinite; Smooth scrolling */
  }
  .badge-row::-webkit-scrollbar {
    display: none;
  }
  
  .badge-container .badge-col {
    flex: 0 0 auto; /* Prevent wrapping */
    margin: 0 10px; /* Spacing between badges */
  }
  
  .badge-container .card {
    margin: 7px;
    padding: 7px;
    width: 150px;
    border-radius: 10px;
    border: none;
    background-color: rgba(0, 0, 0, 0);
    /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); */
    text-align: center;
    scroll-snap-align: center;
    opacity: 0.5;
    transition: all ease-in-out 0.5s;
}
.card.active {
    opacity: 1;
    box-shadow: 0 0 20px wheat;
  }
  .spacer {
        flex: 0 0 50%;
    }
  
  .badge-container .badge-row .card:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
  }
ul {
    list-style-type: none; /* Remove default list style */
    padding-left: 0; /* Remove default padding */
    margin: 0; /* Remove default margin */
    line-height: 1.5;
}
/* Achievement Block */
.Achievement__card {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: max-content;
}
.Achievement__card-description {
    margin: 5px;
    width: 98%;
    border-radius:10px;
    border: none;
    box-shadow: none;
    background-color: var(--card-bg);
    padding: 5px;
    opacity: 0.5;
    transition: all 0.3s ease;
}
.Achievement__card-skills {
    display: none;
    margin: 5px;
    width: 0;
    height: 100% !important;
    border-radius:10px;
    border: none;
    box-shadow: none;
    background-color: var(--card-bg);
    padding: 5px;
    opacity: 0.5;
    transition: all 0.3s ease;
}

.Achievement__card:hover .Achievement__card-skills {
    display: block;
    border: var(--border-color);
    opacity: 1;
    width: 20%;
    height: 100% !important;
}

.Achievement__card:hover .Achievement__card-description {
    border: var(--border-color);
    opacity: 1;
    width: 78%;
}
  /* .Achievement__card {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
  .Achievement__card-description {
    display: block;
    margin: 5px;
    width: 98%;
    border-radius: 10px;
    border: none;
    box-shadow: none;
    background-color: var(--card-bg);;
    padding: 5px;
    opacity: 0.5;
    transition: border 0.3s ease;
    transition: box-shadow 0.3s ease;
    transition: opacity 0.3s ease;
  }
  .Achievement__card-description:hover {
    border: var(--border-color);
    box-shadow: 0 4px 6px var(--border-color);
    opacity: 1;
    background-color: rgba(0, 0, 0, 0);
    width: 78%;
    transition: all 0.1s ease;
  }
  .Achievement__card-skills {
    display: none;
    margin: 5px;
    width: 0;
    border-radius: 10px;
    border: none;
    box-shadow: none;
    background-color: var(--card-bg);
    padding: 5px;
    opacity: 0.5;
    transition: border 0.3s ease;
    transition: box-shadow 0.3s ease;
    transition: opacity 0.3s ease;
  }
  .Achievement__card:hover, .Achievement__card-skills {
    display: block;
    border: var(--border-color);
    box-shadow: 0 4px 6px var(--border-color);
    opacity: 1;
    background-color: rgba(0, 0, 0, 0);
    width: 10%;
    transition: all 0.1s ease;
  }
  .Achievement__card:hover, .Achievement__card-description {
    border: var(--border-color);
    box-shadow: 0 4px 6px var(--border-color);
    opacity: 1;
    background-color: rgba(0, 0, 0, 0);
    width: 78%;
    transition: all 0.1s ease;
  } */
  
  /* Button Styles */
  .btn__group {
    padding-top: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .btn {
    background-color: var(--card-bg);
    color: var(--text-color);
    border: 1px solid var(--border-color);
    padding: 12px 24px;
    border-radius: 8px; /* Rounded corners */
    cursor: pointer;
    transition: box-shadow 0.3s ease; /* Smooth transition */
  }
  

  @keyframes scroll-left {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  
  .badge-container .badge-row:hover {
    animation-play-state: paused; /* Pause scrolling when hovered */
  }
  
/* Certificates */
.certificates {
    height: 500px;
}

.carousel {
    padding-left: 25%;
    padding-right: 30%;
}

.carousel-inner{
    border: 4px solid rgba(16, 19, 220, 0.7);
    border-radius: 15px;
    /* background: linear-gradient(135deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.3)); */
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.25);
    padding: 10px;
}

.certificate__img {
    margin: 10px;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.5)
}

.card-footer {
    text-align: center;
    /* background-color: #f8f9fa; */
    font-weight: bold;
}

/* Milestone */

/* Milestone */

.milestones {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #1a1a1a;
    color: white;
    display: grid;
    grid-template-columns: 1fr 1fr; /* Default for Computer */
    grid-template-rows: auto; /* Allow content to grow based on height */
    height: 75vh;
    width: 100%;
}

.section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
}

.solar-system {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    transform-style: preserve-3d;
    animation: rotate 30s infinite linear;
    background: rgba(255, 255, 255, 0.1);
    border: 2px solid rgba(255, 255, 255, 0.2);
    height: 0px;
    width: 0px;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.planet {
    position: absolute;
    bottom: 0;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transition: transform 0.5s ease-in-out, scale 0.5s ease-in-out;
}

.planet.active {
    transform: scale(2) !important;
    opacity: 0.5;
}

.sun {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 80px;
    height: 80px;
    background-color: #ffcc00;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 20px rgba(255, 204, 0, 0.8);
}

.milestone-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffcc00; /* Initially set to sun color */
    color: black;
    width: 100%;
    height: 100%;
    transition: background-color 0.5s ease, color 0.5s ease;
}

.milestone-content h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.milestone-content p {
    font-size: 18px;
}

.nav-buttons {
    margin-top: 20px;
    position: absolute;
    bottom: 0;
}

.nav-button {
    margin: 0 10px;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.nav-button:disabled {
    background-color: #888;
    cursor: not-allowed;
}

/* Media Query for Mobile Screens */
@media (max-width: 600px) {
    /* Achievements */
    .achievements .row {
        flex-direction: column-reverse;
    }
    .scrollspy-example-1,
    .scrollspy-example-2 {
        height: auto;
        max-height: 200px;
    }

    h1, h2, h3, h4, p, li {
        font-size: smaller;
    }

    ul {
        padding-left: 15px;
        line-height: 1.5;
    }


    .btn {
        font-size: 0.9em;
    }
    /* Certificates */
    .carousel {
        padding-left: 0;
        padding-right: 0;
    }

    .milestones {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
        height: auto;
        width: 100% !important;
    }

    .section {
        width: 100%;
        height: 175px;
    }

    .milestone-content {
        width: 100%;
        height: auto;
    }
    .nav-button{
        margin: 0;
        padding: 0;
        height: 30px;
        padding-left: 10px;
        padding-right: 10px;
    }
}