/* Body */
body {
    /* background-color: rgb(0, 0, 33); */
    font-family: 'Poppins', sans-serif;
}

 /* Fix the position of the sidebar with the list items */
 .list-group {
    position: sticky;
    top: 20px;
}

/* Ensure the scrollable content has a height that allows scrolling */
.scrollspy-example-1 {
    height: 30vh;
    overflow-y: scroll;
    border: 1px solid aquamarine; /* Example border color: Bootstrap primary color */
    border-radius: 5px; /* Optional: Adds rounded corners */
    padding: 10px; /*Optional: Adds padding inside the border*/
}


/* Ensure the scrollable content has a height that allows scrolling */
.scrollspy-example-2 {
    height: 75vh;
    overflow-y: scroll;
    border: 1px solid aquamarine; /* Example border color: Bootstrap primary color */
    border-radius: 5px; /* Optional: Adds rounded corners */
    padding: 10px; /*Optional: Adds padding inside the border*/
}

main {
    padding-top: 25px;
}

.skills {
    padding-top: 25px;
}

/* /Hovering action */
/* Hide the tooltip content by default */
.tooltip-content {
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease;
    padding: 8px;
    border-radius: 4px;
    top: 40px; /* Adjust based on button position */
    left: 0;
    z-index: 10;
}

/* Position the button relatively so that the tooltip appears near it */
.btn-with-tooltip {
    position: relative;
}

/* Show the tooltip when hovering over the button */
.btn-with-tooltip:hover + .tooltip-content {
    visibility: visible;
    opacity: 1;
}
