/* For Image on Home Page*/
/* .image_HomePage img {
    
}  */

/* For Dynamic Script on Home Page */
.DynamicScript {
    padding-top: 20%;
    font-size: 3rem;
}

/* Body */
body {
    /* background-color: rgb(0, 0, 33); */
    font-family: 'Poppins', sans-serif;
}

.firstSection {
    padding-top: 9%;
    padding-bottom: 9%;
}

.card {
    width: 250px;
}

.secondSection {
    align-items: center;
    background: rgb(86, 106, 116);
}

/* Flip Card Effect */
.flip-card {
    background-color: transparent;
    width: 300px;
    height: 300px;
    /* border: 1px solid #f1f1f1; */
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  /* background-color: #bbb; */
  color: black;
}

/* Style the back side */
.flip-card-back {
  /* background-color: rgba(7, 23, 40, 0.838); */
  /* color: white; */
  transform: rotateY(180deg);
}

.ProfilePic-Resume {
  position: relative;
  display: inline-block;
}

.ProfilePic-Resume img {
  display: block;
  width: 100%; /* Adjust as needed */
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Shadow effect */
  display: flex;
  align-items: end;
  padding-bottom: 10%;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.ProfilePic-Resume:hover .overlay {
  opacity: 1;
}

.overlay button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s ease;
}

.overlay button:hover {
  transform: scale(1.1);
}

